.bg{
    height:65vh;
    width:100vw;
    top:0;
    position: absolute;
    z-index: 2;
    filter:brightness(35%);
    background-position: center;
    background-size: cover;
  }

.heading_container{
    display: flex;
    justify-content: center;
    z-index: -2;
    height: 65vh;
}

.heading{
    font-size:70px;
    color:white;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top:25%;
    z-index:3;
}

.contact_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:90px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.842);
    box-shadow: 10px 10px 5px rgb(72, 72, 72);
    border-radius: 50px;
    position: static;
    bottom:0;
}

.contact_details{
    padding:20px;
    color:rgb(71, 71, 71);
    font-size:30px;
}

@media only screen and (max-width: 768px){
    .contact_details{
        width: 100%;
        font-size:20px;
        margin:20px;
        padding:20px;
    }
    .contact_container{
        width: 90%;
        margin:20px;
    }
}