.slides{
  height:100vh;
  width:100vw;
  top:0;
  position: absolute;
  z-index: 1;
  filter:brightness(35%);
  background-position: center;
  background-size: cover;
}
.image_divider{
  position: static;
  height: 100vh;
  width: 100vw;
}

.landing{
  display: flex;
  overflow-x: hidden;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  position: absolute;
    top: 60%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -60%);
}

.heading{
  position: absolute;
  text-align: center;
  top:150px;
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color:white
}

.button_container{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
